html {
  display: flex;
  justify-content: center;
  background: url('https://raw.githubusercontent.com/facg3/chemics/master/slide1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header {
  padding-top: 80px;
}

form input {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  margin: 15px;
  color: #FFFFFF;
}

form div {
  width: 350px;
  padding: 10px;
  margin-top: -8px;
  background-color: rgba(54, 43, 33, 0.4);
  visibility: hidden;
}

p {
  display: flex;
  flex-wrap:wrap;
  width: 350px;
}
